/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 2, 44);
  border-radius: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}
/* nawigacja */

.navbar--logo {
  color: wheat;
  font-size: 30px;
  flex: 1;
  padding-left: 2rem;
}
.navbar--logo img {
  width: 190px;
}
nav {
  height: 8vh;
  background-color: #8a0bde;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

ul.navbar--links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40%;
  /* background-color: pink; */
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  margin: 5px;
  overflow: hidden;
  display: inline-block;
}
.navbar--links a::after {
  content: "";
  background-color: #fbe630;
  width: 100%;
  height: 3px;
  display: block;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
ul li a:hover {
  color: #fbe630;
}
ul li a:hover:after {
  transform: translateX(0);
}
.navbar--login {
  background-color: #fff;
  margin-right: 3rem;
  height: 45px;
  width: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.navbar--login a {
  text-decoration: none;
  color: black;
}

section.hero {
  width: 80vw;
  margin: 0 auto;
  height: 80vh;
}
.hero--introduction {
  margin-top: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 3px 15px 5px 10px rgba(0, 0, 0, 0.3);
}
.hero--intro__text {
  width: 50%;
  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.hero--intro__text img {
  left: -130px;
  bottom: 65px;
  position: relative;
}
.hero--intro__text h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.vector1 img {
  position: absolute;
}

.vector1 img {
  position: absolute;
}
.hero--intro__text p {
  font-size: 1.5rem;
}
.hero--intro--img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero--intro--img img {
  width: 70%;
}
.hero--select {
  /* background-color: royalblue; */
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
}
.hero--secect--title {
  text-align: center;
  width: 100%;
}
.hero--secect--cards {
  width: 100%;
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
}
.hero--select__text {
  text-align: center;
}
.hero--secect--cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* background-color: lightskyblue; */
  justify-content: center;
}
.hero--select--card .doc {
  /* background-color: lightblue; */
  margin-bottom: 0.3rem;
}
.hero--select-text {
  min-height: 300px;
}
.hero--select-text h3 {
  margin-bottom: 8px;
}
.hero--select--button {
  margin-top: 1.5rem;
  padding: 12px 28px;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 5px;
  background-color: #8a0bde;
  text-transform: uppercase;
  color: white;
}
.hero--select--button:hover {
  background-color: #b26fdf;
  cursor: pointer;
}
.hero--select--card {
  /* background-color: #fff; */
  padding: 1.2rem;
  margin: 30px;
  width: 380px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: red; */
  box-shadow: 0px 0 5px 2px rgba(0, 0, 0, 0.3);
}

.hero--select-img img {
  width: 300px;
  margin-bottom: 30px;
}
.hero--secect--title h1 {
  font-size: 4rem;
  margin: 2.2rem;
}
footer {
  height: 15vh;
  width: 100%;
  background-color: #8a0bde;
  display: flex;
  align-items: center;
}
footer .footer-chat-ico {
  position: relative;
  left: 2.5rem;
  transition: transform 0.3s ease;
}
footer .footer-chat-ico:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.sign {
  display: flex;
  right: 0;
  display: block;
  position: absolute;
  right: 2rem;
}
section.callADoctor {
  margin-bottom: 5rem;
}
.contact--container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 89, 255, 1) 0%,
    rgba(26, 176, 255, 1) 71%,
    rgba(0, 212, 255, 1) 100%
  );
}
.contact--container form {
  padding: 10px 0;
  width: 400px;
  height: 500px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #fbe630;
}
.contact--container form h2 {
  color: #fbe630;
}
.form--box {
  height: 45px;
  width: 320px;
  position: relative;
  margin: 8px;
}
.form--box input {
  padding-top: 15px;
  padding-left: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  outline: none;
}
.form--box label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding-top: 20px;
  pointer-events: none;
  border-bottom: 3px solid #fbe630;
  color: white;
}
.form--box span {
  position: absolute;
  font-size: 20px;
  transition: transform 0.5s ease, font-size 0.5s ease, color 0.5s ease;
}
.form--box input:focus + .form-label .form-content,
.form--box input:valid + .form-label .form-content {
  transform: translateY(-20px);
  font-size: 15px;
  color: #fbe630;
}
.form--box__text {
  height: 200px;
  width: 300px;
  position: relative;
}
.form--box__text input {
  padding-top: 15px;
  padding-left: 8px;
  width: 100%;
  height: 100%;
  left: 0;
  color: white;

  font-size: 20px;
  background: none;
  border: none;
  outline: none;
}
.form--box__text label {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  padding-top: 120px;
  pointer-events: none;
  border-bottom: 3px solid #fbe630;
  color: white;
}
.form--box__text span {
  position: absolute;
  font-size: 20px;
  transition: transform 0.5s ease, font-size 0.5s ease, color 0.5s ease;
}
.form--box__text input:focus + .form-label .form-content,
.form--box__text input:valid + .form-label .form-content {
  transform: translateY(-80px);
  font-size: 15px;
  color: #fbe630;
}
